name: Pre-release

on:
  push:
    branches:
      - release

jobs:
  versioning:
    permissions:
      contents: write
      issues: read
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Switch to release branch
        run: git checkout release

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: 22.11.0
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install

      - name: Semantic release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
